@model ProjectFlow.Models.Home

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here are the projects and tasks that need to be completed today:</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Projects</h2>
        <ul class="list-group">
            @if (Model.Projects != null)
            {
                @foreach (var project in Model.Projects)
                {
                    <li class="list-group-item">
                        <h5>@project.Name</h5>
                        <p>@project.Description</p>
                        <ul>
                            @if (project.Tasks != null)
                            {
                                @foreach (var task in project.Tasks.Where(t => t.DueDate == DateTime.Today && !t.IsCompleted))
                                {
                                    <li>@task.Title - @task.DueDate.ToShortDateString()</li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Tasks</h2>
        <ul class="list-group">
            @if (Model.Tasks != null)
            {
                @foreach (var task in Model.Tasks)
                {
                    <li class="list-group-item">
                        <h5>@task.Title</h5>
                        <p>@task.Description</p>
                        @if (task.Project != null)
                        {
                            <p>Project: @task.Project.Name</p>
                        }
                        <p>Due Date: @task.DueDate.ToShortDateString()</p>
                    </li>
                }
            }
        </ul>
    </div>
</div>
